.wholethang {


margin-top: 65px



}

@media screen and (max-width: 1024px) {
    


.vids, .vids2{



width: 450px;
height: 275px;



}
}


@media screen and (max-width: 823px) {
    


    .vids, .vids2{
    
    
    
    width: 345px;
    height: 210px;
    
    
    
    }
    }


    @media screen and (max-width: 736px) {
    


        .vidcenter, .vidcenter2 {
        
        
       text-align: center;
        
        
        
        }


        .vidcenter2{


            margin-top: 20px;


        }
        }



@media screen and (max-width: 375px) {


    .vids,.vids2{


        width: 300px;
    height: 150px;



    }

    
}



@media screen and (max-width: 320px) {


    .vids,.vids2{


        width: 200px;
    height: 150px;



    }

    
}


